:host {
    display: block;
    margin: 0 5vw;
}

.sulamerica-logo {
    background-image: url('https://portal.sulamericaseguros.com.br/responsivo/tacomtudo/img/logo-sulamerica.png');
}

.img-wrapper {
    flex: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

mat-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
}
