:host {
  display: block;
  padding: 5px;
  overflow: visible;
}

img[mat-card-image] {
  width: 300px;
}

.logo-consultoria {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
