:host {
  display: block;
  margin: 0 5vw;
}

.sulamerica-logo {
  background-image: url("https://portal.sulamericaseguros.com.br/responsivo/tacomtudo/img/logo-sulamerica.png");
}

.img-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
}
