<mat-grid-list [cols]="rxIsMobile | async" rowHeight="1:1" gutterSize="15px">
  <mat-grid-tile *ngFor="let company of companies">
    <div class="card-borders">
      <mat-card>
        <mat-card-header>
          <div
            mat-card-avatar
            class="logo-consultoria"
            [style.backgroundImage]="'url(' + company.inNameOf.logoUrl + ')'"
          ></div>
          <mat-card-title>{{ company.inNameOf.name }}</mat-card-title>
          <mat-card-subtitle>{{ company.inNameOf.periodo }}</mat-card-subtitle>
        </mat-card-header>
        <a rel="noreferrer noopener" target="_blank" [href]="company.homePage">
          <img mat-card-image [src]="company.logoUrl" [alt]="company.name" />
        </a>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
