mat-sidenav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.whole-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

omt-header {
  position: fixed;
}

router-outlet {
  display: none;
}
