:host {
  width: 100%;
}

mat-icon {
  font-size: 13px;
}

#butter-logo {
  height: 20px;
}

$padding: 20px;

#footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  color: #e2e2e2;
  padding: $padding 0;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.wip {
  color: #838383;
}

.name-cursive {
  font-family: "Cedarville cursive", cursive, sans-serif;
  font-size: 18px;
}
