<div>
  <div class="visible-landing mat-elevation-z4">
    <h1 id="cabecalho-nome" class="mat-display-4">Samuel H.</h1>
    <div class="mat-display-2 subtitle-line">
      Hello, I'm a software developer.
    </div>

    <nav mat-tab-nav-bar mat-stretch-tabs>
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        [active]="selectedTab === link.path"
        (click)="jumpTo(link)"
      >
        {{ link.label }}
      </a>
    </nav>
  </div>

  <div class="content">
    <div class="about-container">
      <h1 class="about mat-display-2" id="about" #about>about me</h1>
      <p>
        Sou programador, e não de carreira, de vocação antes de tudo. Faço meu
        trabalho com empenho como se fosse um dos meus próprios projetos open
        source, amo que eu faço e gosto de fazer direito. Tenho 8 anos de
        experiencia com desenvolvimento de software e uma visão mais artesanal
        de desenvolvimento de software, desde a CLI (linha de comando) mais
        simples me emepenho de entregar um design funcional util. O mais
        artistico e belo e intuitivo que software possa ser.
      </p>
    </div>
    <div class="work-container">
      <h1 class="work mat-display-2" id="work" #work>my work</h1>
      <omt-work-carrousel></omt-work-carrousel>
    </div>
  </div>
</div>
