:host {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.visible-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/snake.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45vw;
  flex: 1;
  z-index: 1;
  width: 100%;
  height: 99vh;
  position: relative;
}

#cabecalho-nome {
  color: #fff;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../../assets/name_backdrop.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 500;
}

nav[mat-tab-nav-bar] {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a.mat-tab-link {
  margin: 0 40px;
  font-size: 1.5rem;
  font-family: 'Questrial', sans-serif;
}

#work {
  text-align: right;
}

.about-container {
  padding: 0 25%;
}

.content {
  background-color: whitesmoke;
  padding-bottom: 30px;
  h1 {
    font-size: 4em;
    font-weight: lighter;
    padding: .3em 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .subtitle-line {
    text-align: center;
    font-size: 6vw;
  }

  p {
    font-size: 1.3em;
    line-height: 1.5;
  }

  a.mat-tab-link {
    margin: 0;
  }

  .about-container {
    padding: 0 6% 30px;
  }

  #cabecalho-nome {
    font-size: 22vw;
    margin-bottom: 1rem;
  }
}
